<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.BtMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.Bt">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="xdata" column="xdata" jdbcType="INTEGER"/>
            <result property="ydata" column="ydata" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,xdata,ydata
    </sql>
</mapper>
